*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prox{
    color: #fff;
    text-align: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.port-grande{
    width: 50%;
    height: 500%;
    margin: 0 25%;
}

.port-grande:hover{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
    box-shadow: 7px 13px 37px rgb(0, 238, 255);
}

.todas-p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 14 14%;
}


.todas-p img {
    width: 210px;
    margin: 1.5px;
}

h2{
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.transparent{
    color: transparent;
}

#espacio{
    color: transparent;
}

.portada{
    border: 50px #fff;
    text-decoration: overline red;

}

.portada:hover{
    -webkit-transform:scale(0.10);
    transform:scale(0.95);
}

